<div class="container">
  <div class="jumbotron">
   <%= render 'shared/flashes' %>
   <% unless @card %>
     <% flash[:notice] = "На сегодня нет больше карточек" %>
   <% else %>
     <p>Перевод</p>
     <%= @card.translated_text %>
	   <%= simple_form_for(:flash_card, html: { class: '.form-inline' }) do |f| %>
	     <%= f.input :input_text, label: 'Слово' %>
	     <%= f.hidden_field :confirm_id, value: @card.id %>
	     <%= f.button :submit, "Проверить" %>
	   <% end %>
   <% end %>
  </div>
</div>