<div class="container">
  <div  class="jumbotron">
    <table class="table table-hover">
    <% @card.each do |card| %>
      <tr>
        <td><%= image_tag card.card_image.url if card.card_image? %></td>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
        <td><%= link_to I18n.t('form_submit.edit'), edit_dashboard_card_path(card), class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to I18n.t('form_submit.delete'), dashboard_card_path(card), method: :delete, data: { confirm: I18n.t('form_submit.delete_confirm') }, class: 'btn btn-default btn-sm'%></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
