<div class="container">
  <div  class="jumbotron">
	<table class="table table-hover">
	<% @card.each do |card| %>
	  <tr>
	    <td><%= card.original_text %></td>
	    <td><%= card.translated_text %></td>
	    <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
	    <td><%= link_to 'Редактирование', edit_card_path(card), class: 'btn btn-default btn-sm' %></td>
	    <td><%= link_to "Удалить", card, method: :delete,
	      data: { confirm: "Уверен?" }, class: 'btn btn-default btn-sm'%></td>
	  </tr>
	<% end %>
	</table>
  </div>
</div>



