<div class="container">
  <div  class="jumbotron">
  <%= link_to I18n.t('decks.new_deck_link'), new_deck_path, class: 'btn btn-default btn-sm' %>
	<table class="table table-hover">
	<% @deck.each do |deck| %>
	  <tr <%= 'class = bg-success' if deck.active %> >
	    <td><%= deck.name %></td>
	    <td><%= render 'active_form', deck_id: deck.id unless deck.active %></td>
	    <td><%= link_to I18n.t('form_submit.edit'), edit_deck_path(deck), class: 'btn btn-default btn-sm' %></td>
	    <td><%= link_to I18n.t('form_submit.delete'), deck, method: :delete,
	      data: { confirm: I18n.t('form_submit.delete_confirm') }, class: 'btn btn-default btn-sm'%></td>
	  </tr>
	<% end %>
	</table>
  </div>
</div>



