<header class="container">
  <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
          <%= link_to "Флэшкарточкер", root_path, class:"navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
	    <% if logged_in? %>
	      <li class="active"><%= link_to "Все карточки", cards_path %></li>
	      <li><%= link_to "Добавить карточку", new_card_path %></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li id="fat-menu" class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   <%= current_user.email %>
                   <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% unless current_user.has_linked_facebook? %>
	              <li><%= link_to "Редактировать аккаунт", edit_user_path(current_user.id) %></li>
	            <% end %>
	            <li class="divider"></li>
	            <li><%= link_to "Выход", :logout, method: :post %></li>
	          </ul>
	        </li>
	      </ul>
	    <% else %>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><%= link_to "Регистрация", new_user_path %></li>
	        <li><%= link_to "Вход", :login %></li>
	        <li><%= link_to 'Facebook', auth_at_provider_path(provider: :facebook) %></li>
	      </ul>
	    <% end %>
	  </div>
  </nav>
  <%= render 'shared/flashes' %>
</header>