<header class="container">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Флэшкарточкер", root_path, class:"navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li class="active"><%= link_to I18n.t('navbar.all_cards'), cards_path %></li>
          <li><%= link_to I18n.t('navbar.decks'), decks_path %></li>
          <li><%= link_to I18n.t('navbar.add_card'), new_card_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   <%= current_user.email %>
                   <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% unless current_user.has_linked_facebook? %>
                  <li><%= link_to I18n.t('navbar.edit_acc'), edit_user_path(current_user.id) %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to I18n.t('navbar.exit'), :logout, method: :post %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to I18n.t('navbar.sign_up'), new_user_path %></li>
            <li><%= link_to I18n.t('navbar.sign_in'), :login %></li>
            <li><%= link_to 'Facebook', auth_at_provider_path(provider: :facebook) %></li>
            <li><%= link_to "en", params.merge({:locale => :en}) %></li>
            <li><%= link_to "ru", params.merge({:locale => :ru}) %></li>
          </ul>
        <% end %>
      </div>
  </nav>
  <%= render 'shared/flashes' %>
</header>